* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Happy rems approach
html {
  font-size: 62.5%; // from now 1rem === 10px
}
body {
  font-size: 1.6rem; // we set default font size value to the 16px as it was
}
