@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

// mixins
@mixin center-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin cenenter-in-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// Variables
$general-padding: 3rem;
$icon-color: rgb(77, 77, 77);
$icon-color-hover: rgb(40, 40, 40);
$menu-color-dark: #131313;
$font-color-primary: #777;
$font-color-titles: #222;
$background-color-first: #f9f9ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Happy rems approach
html {
  font-size: 62.5%; // from now 1rem === 10px
}
body {
  font-family: "Roboto", sans-serif;

  font-size: 1.6rem; // we set default font size value to the 16px as it was
  color: $font-color-primary;
}

.link {
  color: $icon-color;
  text-decoration: none;
}
.link:hover {
  color: $icon-color-hover;
  text-decoration: underline;
}
.link:visited {
  color: $icon-color;
}

.section__title {
  width: 100%;
  @include cenenter-in-row;
  flex-direction: column;
  padding-top: 7.5rem;
  padding-bottom: 7rem;
  color: $font-color-titles;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;

  &__second-row {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: $font-color-primary;
    text-transform: none;
    padding-top: 1rem;
  }
}

.app {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100px;
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);

    .navbar {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;
      background-color: $menu-color-dark;
      padding: 0.3rem 2rem;
      &__logo {
        color: #ffffff;
        img {
          max-width: 150px;
        }
      }
      &__toggle-button {
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 1rem;
        right: 1rem;
        cursor: pointer;

        .bar {
          width: 100%;
          height: 3px;
          background-color: #ffffff;
          border-radius: 10px;
        }
      }
      &__links {
        @include cenenter-in-row;
        flex-direction: column;
        list-style: none;
        gap: 3rem;
        text-transform: uppercase;
        display: none;

        a,
        a:visited {
          color: #ffffff;
          text-decoration: none;
        }
      }
      &__links.active {
        display: flex;
      }
    }

    &__container {
      max-width: 1600px;
      background-color: #ffffff;
      box-shadow: 0 20px 80px 0 rgb(153 153 153 / 30%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: $general-padding;
    }
    &__picture-container {
      display: flex;
      justify-content: center;
      margin-top: 5rem;
    }
    &__picture {
      max-width: 100%;
    }
    &__personal-text {
      margin-top: 3rem;
      text-transform: uppercase;
      color: $font-color-titles;
      .personal-text__name {
        display: flex;
        flex-direction: column;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: $font-color-titles;
        margin-top: 1rem;

        &__second-line {
          font-family: "Roboto", sans-serif;
          font-weight: 600;
          font-size: 1.6rem;
          margin-top: 1rem;
        }
      }
    }
    &__address {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: $icon-color;
    }
    &__social-media {
      @include cenenter-in-row;
      justify-content: flex-start;
      gap: 0.7rem;
      margin-top: 2rem;
      &__icon {
        @include center-element;
        width: 4rem;
        height: 4rem;
        background-color: $icon-color;
        margin-right: 0.5rem;
        color: #ffffff;
        border-radius: 5px;
        transition: all 250ms;
      }
      &__icon:hover {
        background-color: $icon-color-hover;
      }
    }
  }
  #projects__section {
    background-color: $background-color-first;
    padding: 0 2rem;

    .projects {
      width: 100%;

      background-color: #88f3ff;
      &__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
        .project {
          background-color: red;
          width: 100%;
          max-width: 350px;
          min-height: 200px;
          &__image {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .section__title {
    padding-top: 12rem;
    padding-bottom: 10rem;
    font-size: 3.6rem;

    &__second-row {
      font-size: 1.6rem;
      padding-top: 1rem;
    }
    &--projects {
      padding-top: 25rem;
    }
  }

  .app {
    .header {
      padding-top: 25px;
      .navbar {
        flex-direction: row;
        background: none;
        padding: 5rem 5rem 0;
        &__toggle-button {
          display: none;
        }
        &__links {
          flex-direction: row;
          display: flex;
        }
        &__logo {
          img {
            max-width: 200px;
          }
        }
      }
      &__container {
        position: relative;
        bottom: -100px;
        width: 90%;
        border-radius: 15px;
        min-height: 300px;
      }
      &__picture-container {
        margin-top: 0;
      }
      &__personal-text {
        .personal-text__name {
          font-size: 4.8rem;
          margin-top: 1rem;

          &__second-line {
            font-family: "Roboto", sans-serif;
            font-weight: 600;
            font-size: 1.6rem;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .app {
    .header {
      .navbar {
        padding: 5rem 10rem 0;
      }
      &__container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 5rem;
      }
      &__picture {
        border-radius: 10px;
      }
    }
    #projects__section {
      padding: 0 5rem;

      .projects {
        &__container {
          .project {
            &__image {
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .app {
    .header {
      .navbar {
        padding: 5rem 16rem 0;
        &__logo {
          img {
            max-width: 250px;
          }
        }
      }
    }
    #projects__section {
      padding: 0 10rem;

      .projects {
        &__container {
          .project {
            &__image {
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1920px) {
  .app {
    .header {
    }
    #projects__section {
      padding: 0 15rem;

      .projects {
        &__container {
          .project {
            &__image {
            }
          }
        }
      }
    }
  }
}
