@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #777;
}

.link {
  color: rgb(77, 77, 77);
  text-decoration: none;
}

.link:hover {
  color: rgb(40, 40, 40);
  text-decoration: underline;
}

.link:visited {
  color: rgb(77, 77, 77);
}

.section__title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  padding-top: 7.5rem;
  padding-bottom: 7rem;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.section__title__second-row {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #777;
  text-transform: none;
  padding-top: 1rem;
}
.app .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}
.app .header .navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  background-color: #131313;
  padding: 0.3rem 2rem;
}
.app .header .navbar__logo {
  color: #ffffff;
}
.app .header .navbar__logo img {
  max-width: 150px;
}
.app .header .navbar__toggle-button {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.app .header .navbar__toggle-button .bar {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 10px;
}
.app .header .navbar__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  list-style: none;
  gap: 3rem;
  text-transform: uppercase;
  display: none;
}
.app .header .navbar__links a,
.app .header .navbar__links a:visited {
  color: #ffffff;
  text-decoration: none;
}
.app .header .navbar__links.active {
  display: flex;
}
.app .header__container {
  max-width: 1600px;
  background-color: #ffffff;
  box-shadow: 0 20px 80px 0 rgba(153, 153, 153, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
}
.app .header__picture-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.app .header__picture {
  max-width: 100%;
}
.app .header__personal-text {
  margin-top: 3rem;
  text-transform: uppercase;
  color: #222;
}
.app .header__personal-text .personal-text__name {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #222;
  margin-top: 1rem;
}
.app .header__personal-text .personal-text__name__second-line {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  margin-top: 1rem;
}
.app .header__address {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: rgb(77, 77, 77);
}
.app .header__social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.7rem;
  margin-top: 2rem;
}
.app .header__social-media__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: rgb(77, 77, 77);
  margin-right: 0.5rem;
  color: #ffffff;
  border-radius: 5px;
  transition: all 250ms;
}
.app .header__social-media__icon:hover {
  background-color: rgb(40, 40, 40);
}
.app #projects__section {
  background-color: #f9f9ff;
  padding: 0 2rem;
}
.app #projects__section .projects {
  width: 100%;
}
.app #projects__section .projects__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}
.app #projects__section .projects__container .project {
  width: 100%;
  max-width: 350px;
  min-height: 200px;
  margin-bottom: 7rem;
}
.app #projects__section .projects__container .project__desc {
  position: relative;
  overflow: hidden;
}
.app #projects__section .projects__container .project__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 2rem;
  text-align: center;
  color: #ffffff;
  background: rgb(118, 109, 255);
  background: linear-gradient(90deg, rgba(118, 109, 255, 0.75) 0%, rgba(136, 243, 255, 0.75) 100%);
  border-radius: 10px;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
.app #projects__section .projects__container .project__info:hover {
  opacity: 1;
}
.app #projects__section .projects__container .project__link, .app #projects__section .projects__container .project__link:visited {
  color: #ffffff;
}
.app #projects__section .projects__container .project__link:hover {
  color: #c9c9c9;
}
.app #projects__section .projects__container .project__title {
  margin-top: 2.3rem;
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: bold;
  text-align: center;
  color: #222;
}
.app #projects__section .projects__container .project__image {
  width: 100%;
}
.app #projects__section .projects__container .project__image img {
  width: 100%;
  border-radius: 10px;
}
.app #projects__section .projects__container .project__icons {
  margin-top: 2rem;
  font-size: 4rem;
  display: flex;
  gap: 4rem;
  cursor: pointer;
}
.app #projects__section .projects__container .project__tech-icons {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  .section__title {
    padding-top: 12rem;
    padding-bottom: 10rem;
    font-size: 3.6rem;
  }
  .section__title__second-row {
    font-size: 1.6rem;
    padding-top: 1rem;
  }
  .section__title--projects {
    padding-top: 25rem;
  }
  .app .header {
    padding-top: 25px;
  }
  .app .header .navbar {
    flex-direction: row;
    background: none;
    padding: 5rem 5rem 0;
  }
  .app .header .navbar__toggle-button {
    display: none;
  }
  .app .header .navbar__links {
    flex-direction: row;
    display: flex;
  }
  .app .header .navbar__logo img {
    max-width: 200px;
  }
  .app .header__container {
    position: relative;
    bottom: -100px;
    width: 90%;
    border-radius: 15px;
    min-height: 300px;
  }
  .app .header__picture-container {
    margin-top: 0;
  }
  .app .header__personal-text .personal-text__name {
    font-size: 4.8rem;
    margin-top: 1rem;
  }
  .app .header__personal-text .personal-text__name__second-line {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .app .header .navbar {
    padding: 5rem 10rem 0;
  }
  .app .header__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5rem;
  }
  .app .header__picture {
    border-radius: 10px;
  }
  .app #projects__section {
    padding: 0 5rem;
  }
}
@media screen and (min-width: 1600px) {
  .app .header .navbar {
    padding: 5rem 16rem 0;
  }
  .app .header .navbar__logo img {
    max-width: 250px;
  }
  .app #projects__section {
    padding: 0 10rem;
  }
}
@media screen and (min-width: 1920px) {
  .app #projects__section {
    padding: 0 15rem;
  }
}
.swiper {
  width: 100%;
  height: 300px;
}
